@import "tailwindcss";

@font-face {
  font-family: "Goga";
  src: url("/fonts/GogaTest-Hairline-BF6646d5d845dae.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Goga";
  src: url("/fonts/GogaTest-Thin-BF6646d5d8040a9.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Goga";
  src: url("/fonts/GogaTest-Extralight-BF6646d5d82fb83.otf") format("opentype");
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Goga";
  src: url("/fonts/GogaTest-Light-BF6646d5d84c8a2.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Goga";
  src: url("/fonts/GogaTest-Regular-BF6646d5d84f69b.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Goga";
  src: url("/fonts/GogaTest-Medium-BF6646d5d84754e.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Goga";
  src: url("/fonts/GogaTest-Semibold-BF6646d5d8544cf.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Goga";
  src: url("/fonts/GogaTest-Bold-BF6646d5d83c978.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Goga";
  src: url("/fonts/GogaTest-Extrabold-BF6646d5d7d0a2b.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Goga";
  src: url("/fonts/GogaTest-Black-BF6646d5d78e551.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 0% 15%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.375rem;
  }
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Goga", sans-serif;
  }
}
